{% extends "base.html" %}

{% block content %}

<div class="card">

    <h2>{{ recipe.title }}</h2>

    {% if recipe.image %}
        <img src="{{ url_for('static', filename='uploads/' + recipe.image) }}">
    {% endif %}

    <h3>Ingredientes</h3>
    <ul>
    {% for line in recipe.ingredients.split('\n') if line %}
        <li>{{ line }}</li>
    {% endfor %}
    </ul>

    <h3>Instrucciones</h3>
    <ol>
    {% for line in recipe.instructions.split('\n') if line %}
        <li>{{ line }}</li>
    {% endfor %}
    </ol>

    {% if current_user.is_authenticated %}
        <br>
        <a 
            class="btn" href="/recipe/edit/{{ recipe.id }}">Editar
        </a>
        <a
            class="btn" href="/recipe/delete/{{ recipe.id }}">Borrar
        </a>
    {% endif %}

</div>

{% endblock %}