{% extends "base.html" %}

{% block content %}

<h2 class="page-title">Recetas</h2>

<div class="card">

<form method="POST"
      enctype="multipart/form-data">

<input name="title"
       placeholder="Titulo"
       value="{{ recipe.title if recipe else '' }}"
       required>

<label>¿Qué tardo en cocinar?</label>
<input type="text"
      name = "cooking_time"
      value = "{{ recipe.cooking_time if recipe else '' }}">

<label>Porciones</label>
<input type="text"
      name="portions"
      value="{{ recipe.portions if recipe else '' }}">

<label>Dificultad</label>
<select name="difficulty">

      <option value="Easy"
      {% if recipe and recipe.difficulty == 'Easy' %} selected{% endif %}>Fácil</option>

      <option value="Medium"
      {% if recipe and recipe.difficulty == 'Medium' %} selected {% endif %}>Mediano</option>

      <option value="Hard"
      {% if recipe and recipe.difficulty == 'Hard' %} selected {% endif %}>Difícil</option>
</select>

<textarea name="ingredients"
          placeholder="Ingredientes"
          required>{{ recipe.ingredients if recipe else '' }}</textarea>

<textarea name="instructions"
          placeholder="Instrucciones"
          required>{{ recipe.instructions if recipe else '' }}</textarea>

<select name="folder">

{% for f in folders %}

<option value="{{ f.id }}"
{% if recipe and recipe.folder_id == f.id %}
selected
{% endif %}
>
{{ f.name }}
</option>

{% endfor %}

</select>

<input type="file" name="image">

<button class="btn">
Guardar
</button>

</form>

</div>

{% endblock %}
